.chat{
    flex: 2;
    border-left: 1px solid #dddddd35;   /* 左边界线 */
    border-right: 1px solid #dddddd35;  /* 右边界线 */
    height: 100%;
    display: flex;
    flex-direction: column;

    .top {
        padding: 20px;       /* 边缘填充 */
        display: flex;       
        align-items: center;   /* 竖直方向上居中对齐 */
        justify-content: space-between;   /* 水平方向上两端对齐，子项之间的空间均匀分布 */
        border-bottom: 1px solid #dddddd35;   /* 底部边界线 */

        .user {
            display: flex;
            align-items: center;
            gap: 20px;

            img {
                width: 60px;
                height: 60px;
                border-radius: 50%;   /* 圆形 */
                object-fit: cover;   /* 使图片填满容器，保持宽高比，超出部分裁剪 */
            }

            .texts {
                display: flex;
                flex-direction: column;   /* 纵向弹性布局 */
                gap: 5px;

                span {
                    font-size: 18px;
                    font-weight: bold;
                }

                p {
                    font-size: 14px;
                    font-weight: 300;
                    column-rule: #a5a5a5;
                }
            }

            .icons {
                display: flex;
                gap: 20px;

                img {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }

    .center {
        padding: 20px;
        flex: 1;
        overflow: scroll;    /* 滚动条 */
        display: flex;           
        flex-direction: column;   /* 弹性布局 + 纵向弹性 */
        gap: 20px;

        .message {
            max-width: 70%;
            display: flex;
            gap: 20px;

            /* 设置自己发送的消息 */
            &.own {
                align-self: flex-end;

                .texts {
                    p {
                        background-color: #5183fe;
                    }
                }
            }

            /* 设置头像图片 */
            img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                object-fit: cover;
            }

            .texts {
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 5px;

                /* 设置发送内容中的图片 */
                img {
                    width: 100%;
                    height: 300px;
                    border-radius: 10px;
                    object-fit: cover;
                }

                /* 设置发送内容 */
                p {
                    padding: 20px;
                    background-color: rgba(17, 25, 40, 0.3);
                    border-radius: 10px;
                }

                /* 设置发送时间 */
                span {
                    font-size: 13px;
                }
            }
        }
    }

    .bottom {
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid #dddddd35;
        gap: 20px;
        margin-top: auto;

        .icons {
            display: flex;
            gap: 20px;
        }

        img {
            width: 20px;
            height: 20px;cursor: pointer;
        };

        input {
            flex: 1;
            background-color: rgba(17, 25, 40, 0.5);
            border: none;
            outline: none;
            color: white;
            padding: 20px;
            border-radius: 10px;
            font-size: 16px; 

            &:disabled {
                cursor: not-allowed;
            }
        }

        .emoji {
            position: relative;

            .picker {
                position: absolute;
                bottom: 50px;
                left: 0;
            }
        }

        .sendButton {
            background-color: #5183fe;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;

            &:disabled {
                background-color: #5182feb4;
                cursor: not-allowed;
            }
        }
    }
}